body {
    background: url('https://source.unsplash.com/random');
    background-repeat: no-repeat;
}

div {
    background-color: blue;
    border-color: orange;
    border-width: thick;
    border-style: dotted;
}

p {
    color: yellow;
}

span {
    background: red;
    color: black;
}