h1 {
    /* font-family: "Arial"; */
    text-align: center;
}

p {
    font-family: 'Oswald', sans-serif;
}

body {
    font-size: 20px;
}

/* 1em = 16px
2em = 32px */

#two {
    font-size: 1.0em;
}

p {
    /* font-style: italic;
    font-weight: bold; */
}
